html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.acct-panel {
	background: #fafafa;
	padding: 1em;
	border: 1px solid #e1e8ed;
}
.list-group-item {
	background: transparent;
	border-right: 0;
	border-left: 0;
}
.list-group-item:first-child {
	border-radius: 0;
}
.list-group-item:last-child {
}
.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #777;
	border-radius: 10px;
}
.list-group-item > .badge {
	float: right;
}

.banner-overlay {
	height: 100%;
	width: 100%;
	padding-top: 200px;
	padding-bottom: 200px;
	padding-left: 60px;
	background-color: rgb(33, 3, 82, 0.4);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-overlay {
		padding-top: 150px;
		padding-bottom: 150px;
		padding-left: 40px;
	}
}

@media only screen and (max-width: 767px) {
	.banner-overlay {
		padding-top: 60px;
		padding-bottom: 120px;
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-overlay {
		padding-top: 60px;
		padding-bottom: 120px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
